.itemContainer {
  background-color: white;
  display: flex;
  padding: 10px;
  margin-top: 40px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
}

.itemImageContainer {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.image {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.itemNameContainer {
  margin-left: 50px;
}

.name {
  font-size: large;
  font-weight: bold;
}

.itemAmountContainer {
  font-weight: bold;
  margin-top: 10px;
}
