.searchContainer {
  margin: 20px auto;
  width: 300px;
  position: relative;
}
.input {
  border: none;
  border-bottom: 1px solid #e3e4dc;
  padding: 10px 20px;
  outline: none;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: #393e46;
}
